.container {
    width: 100%;
    height: 100%;
    font-family: 'Lato';
}

h1 {
    color: rgb(8, 80, 14);
}

.card {
    border: none;
}

.card-title {
    text-align: center;
}

.btn {
    margin: auto;
    background-color: rgb(23, 110, 89);
}

.btn:hover {
    margin: auto;
    background-color: rgb(102, 156, 143);
}

.btn:active {
    margin: auto;
    background-color: rgb(71, 184, 199);
}