<div class="centered-content">
    <div class="model-box">
        <h1 class="title"> Create a new list</h1>
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input class="input" #titleInput type="text" placeholder="Enter Task name">
            </p>
        </div>
        <div class="field is-grouped">

            <div class="row">
                <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
                    <input class="input" #dateInput placeholder="Select Date" bsDatepicker [minDate]="minDate" />
                    <timepicker #timeInput [showMeridian]="true" [(ngModel)]="selectedTime"></timepicker>

                </div>

            </div>

        </div>

        <div class="buttons">
            <button class="button is-success" (click)="createNewTask(titleInput.value, dateInput.value)">Save</button>
            <button class="button is-danger"> <a href="/task-view"
                    class="text-white text-decoration-none">Cancel</a></button>
        </div>


    </div>
</div>