.container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    /* optional: align content vertically */
    width: 60%;
    height: 50%;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: larger;
    background-color: rgba(252, 252, 252, 0);
    border-radius: 3%;
    margin-top: 10%;

}

h1 {
    color: rgb(1, 14, 2);
}

.card {
    width: 60%;
    height: 50%;
    margin: auto;
    margin-left: 55%;

    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.card-title {
    text-align: center;
}

.btn {
    margin: auto;
    /* margin-left: 40%; */
    background-color: rgb(103, 12, 119);

}

.btn:hover {
    margin: auto;
    /* margin-left: 40%; */
    background-color: rgb(203, 92, 255);
}

.btn:active {
    margin: auto;
    /* margin-left: 40%; */
    background-color: rgb(131, 71, 199);
}

.form-check {
    justify-content: left;
    align-items: left;
    text-align: left;
}

.form-text {
    font-size: medium;
    font-stretch: narrower;
}

.register {
    margin-top: 5%;
}