.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* change height to viewport height */
}


.task-manager-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 680px;
    margin: auto;
    /* add margin auto to center the element */
}

.sidebar {
    display: flex;
    flex-direction: column;

    width: 33%;
    background: white;

    padding: 2%;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.task-list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5%;
    width: 60%;
    /* increase the width */
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.task-list-container .top-bar {
    margin-bottom: 3%;
    display: flex;
}

.task-list-container .top-bar.title {
    flex-grow: 1;
    margin: 0;
}

.list-menu {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    flex-grow: 1;
    text-align: center;
}

.list-menu .list-menu-item {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2%;
    border-radius: 5px;
    width: 100%;
    color: #5f5f5f;
    margin: 2%;
    padding-left: 6%;


    cursor: pointer;
}

.list-menu .list-menu-item:hover {
    background: #f8f8f8;
}

.list-menu .list-menu-item.is-active {
    background-color: #c27ee465;
    color: rgb(172, 111, 213);
}

.task {
    display: flex;
    background: white;
    padding: 2% 3%;
    border-radius: 5px;
    margin-top: 3%;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.task:not(.complete) {
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.task:not(.complete):active {
    transform: scale(0.95);
}

.task:not(.complete):hover {
    box-shadow: 0 0 0 5px #eeeeee;
}

.task:not(.complete):hover .task-buttons {
    opacity: 1;
    transform: scale(1);
}

.task.complete p {
    text-decoration: line-through;
    opacity: 0.5;
}

.task .task-text {
    display: flex;
    flex-grow: 1;
}

.task .task-buttons {
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0;
    transform: scale(0.85);
}

.circle-add-button {
    position: absolute;
    bottom: 35px;
    right: 35px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.empty-state-text {
    font-size: 20px;
    color: #777;
    text-align: center;
}

.btn {
    background-color: rgba(135, 41, 193, 0.77);
    color: white
}

h1 {
    color: rgba(114, 16, 175, 0.77);
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deadline {
    text-align: right;
}

.edit-btn,
.delete-btn,
.done-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #ccc;
    color: #fff;
}

.task.complete .edit-btn,
.task.complete .done-btn {
    pointer-events: none;
    opacity: 0.5;
}

.delete-btn {
    background-color: #931400;
    color: white;
}

.done-btn {
    background-color: #008134;
    color: white;
}

.sidebar,
.task-list-container {
    overflow: auto;
}