<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar bg-white">

            <h1 class="title text-info">
                Lists
            </h1>


            <div class="list-menu">
                <app-search (searchTextChange)="onListSearchTextEntered($event)"></app-search>
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists',list._id]"
                    routerLinkActive="is-active">
                    <p *ngIf="searchList===''||list.title.toLowerCase().includes(searchList)">{{list.title}}</p>
                </a>
            </div>

            <button class="btn btn-primary" routerLink="/new-list"> + New List</button>


        </div>
        <div class=" task-list-container bg-light">

            <div ngbDropdown class="mt-2 w-10">
                <button class="btn btn-secondary" id="dropdownMenuButton" ngbDropdownToggle>About</button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                    <div class="task normal">
                        <p>More than 7 days</p>
                    </div>
                    <div class="task warning">
                        <p>Less than 7 days</p>
                    </div>
                    <div class="task urgent">
                        <p>Less than one day</p>
                    </div>
                    <div class="task overdue">
                        <p>Overdue!</p>
                    </div>
                </div>
            </div>
            <button class="logout-btn mt-2 w-10" (click)="onLogout()"> Logout </button>
            <h1 class="title text-info">
                Tasks
            </h1>


            <div ngbDropdown class="ml-auto">
                <button class="btn btn-secondary" id="dropdownMenuButton" ngbDropdownToggle>Settings</button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                    <button ngbDropdownItem routerLink="./edit-list">Edit</button>
                    <button ngbDropdownItem class="text-danger" (click)="onListDelete()">Delete</button>
                </div>
            </div>

            <app-search (searchTextChange)="onTaskSearchTextEntered($event)"></app-search>

            <!-- Task elements-->
            <div class="task" *ngFor="let task of tasks" [ngClass]="{'complete':task.completed}"
                [ngClass]="getTaskClass(task)">
                <p *ngIf="searchTask===''||task.title.toLowerCase().includes(searchTask)"> {{task.title}}</p>
                <div class="deadline" *ngIf="searchTask===''||task.title.toLowerCase().includes(searchTask)">
                    <pre>
                        <pre class="text-danger">Deadline:</pre>{{ task.dueDate | date:'yyyy-MM-dd hh:mm a' }}</pre>
                    <div class="buttons">
                        <button class="edit-btn" [routerLink]="['./edit-task',task._id]">Edit</button>
                        <button class="delete-btn" (click)="onTaskDelete(task)">Delete</button>
                        <button class="done-btn" (click)="onTaskClick(task)">Done</button>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary mt-2"> <a routerLink="./new-task" class=" text-white text-decoration-none">+
                    New Task</a> </button>
        </div>


    </div>
</div>