.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* change height to viewport height */
}


.model-box{
    min-height: 30%;
    width:100%;
    max-width: 50%;
    background: white;
    border-radius: 2%;
    padding: 2%;
    

}
.title{
    font-size: x-larger;
}

.field{
    padding:5%;
    width:100%;
    border-radius: 3%;
    border-color: antiquewhite;
}
.input{
    width:100%; 
    height: 25%;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
}

.btn{
    background-color: rgba(135, 41, 193, 0.77);
    border-color:rgba(135, 41, 193, 0.77) ; 
    margin: auto;
    

}
.button-group {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    gap: 10px; /* add some space between the buttons */
    margin-top: 20px; /* add some margin to separate from other content */
  }

  
