@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
body {
    background-image: url("login-bg.jpg");
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}