<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h1 class="text-uppercase text-center mb-5">Change password</h1>

                        <form>


                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example3cg">Your Email</label>
                                <input #emailInput type="email" id="form3Example3cg"
                                    class="form-control form-control-lg" />
                            </div>



                            <div class="d-flex justify-content-center mt-5">
                                <button type="button" (click)="sendOTP(emailInput.value)"
                                    class="btn-success btn-block btn-lg gradient-custom-4 text-body btn">Send
                                    OTP</button>
                            </div>

                            <div *ngIf="isOtpSentSuccessful">
                                <div class="form-outline mb-4 second-div">
                                    <label class="form-label" for="form3Example4cdg">Enter OTP</label>
                                    <input #otpInput type="text" id="form3Example4cdg"
                                        class="form-control form-control-lg" name="otp" />
                                </div>
                                <div class="d-flex justify-content-center mt-5">
                                    <button type="button"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                                        (click)="onVerifyOtpClicked(emailInput.value,otpInput.value) ">Verify
                                        OTP</button>
                                </div>
                            </div>
                            <div *ngIf="isOtpVerified" class="third-div">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cg">Password</label>
                                    <input #pwInput [(ngModel)]="password" type="password" id="form3Example4cg"
                                        class="form-control form-control-lg" name="password" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                                    <input #rpwInput [(ngModel)]="checkPassword" type="password" id="form3Example4cdg"
                                        class="form-control form-control-lg" name="checkPassword" />
                                </div>
                                <div *ngIf="isValidPassword()">
                                    <p class="text-center mb-0 text-success">Password strength: Strong</p>
                                </div>
                                <div *ngIf="!isValidPassword()">
                                    <p class="text-center mb-0 text-danger">Password strength: Weak</p>
                                </div>

                                <div class="d-flex justify-content-center mt-5">
                                    <button type="button" [disabled]="!isValidPassword() || !isMatchingPasswords()"
                                        (click)="onChangePassword(emailInput.value,pwInput.value)"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Change
                                        Password</button>
                                </div>
                            </div>


                            <!-- <div *ngIf="isEmailSuccessful">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cdg">Enter OTP</label>
                                    <input #otpInput type="text" id="form3Example4cdg"
                                        class="form-control form-control-lg" name="otp" />
                                </div>
                                <div class="d-flex justify-content-center mt-5">
                                    <button type="button"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                                        (click)="onVerifyOtpClicked(emailInput.value, pwInput.value, otpInput.value) ">Verify
                                        OTP</button>
                                </div>
                            </div>

                            <div class="form-outline mb-4" *ngIf="isVerifySuccessful">
                                <label class="form-label" for="form3Example4cg">Password</label>
                                <input #pwInput [(ngModel)]="password" type="password" id="form3Example4cg"
                                    class="form-control form-control-lg" name="password" />
                            </div>

                            <div class="form-outline mb-4" *ngIf="isVerifySuccessful">
                                <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                                <input #rpwInput [(ngModel)]="checkPassword" type="password" id="form3Example4cdg"
                                    class="form-control form-control-lg" name="checkPassword" />
                            </div>
                            <div *ngIf="isValidPassword()">
                                <p class="text-center mb-0 text-success">Password strength: Strong</p>
                            </div>
                            <div *ngIf="!isValidPassword()">
                                <p class="text-center mb-0 text-danger">Password strength: Weak</p>
                            </div> -->
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>